body{
  margin: 0;
  padding: 0;
}

.top-banner{
  background-image: linear-gradient(90deg, black, transparent), url(Images/banner-img.jpg);
  height: 700px;
  width: 1440px;
  background-repeat: no-repeat;
  background-position: fixed;
}

.top-heading{
  padding-top: 160px;
  margin-left: 219px;
}

.top-headr{
  color: white;
  font-family: 'Inter', sans-serif;
  font-size: 55px;
  font-weight: bold;
  width: 526px;
  margin-bottom: 20px;
}


.top-para{
  color: white;
  width: 480px;
  height: 84px;
  font-size: 18px;
  font-family: 'Poppins', sans-serif;
  margin-bottom: 30px;
}

.btn{
  background-color: #EF233C;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  width: 160px;
  height: 56px;
}

/**-----second-----**/
.container{
  position: relative;
  
}

.txt-item{
  position: absolute;
  width: 493px;
  height: 374px;
  left: 204px;
  top: 130px;
  
}

.second-headr{
  font-family: 'Inter', sans-serif;
  font-size: 45px;
  font-weight: 700;
  line-height: 55px;
  width: 492px;
}

.para-one{
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 28px;
  color:#707070;
  width: 482px;
}

.para-two{
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  line-height: 28px;
  color:#707070;
  width: 482px;
}

.image-item img{
  position: absolute;
  width: 456px;
  height: 477px;
  left: 780px;
  top: 130px;
}

/**-----second-----**/

/**--------third-------**/
.container-two{
  position: relative;
}

.img-item img{
  position: absolute;
  width: 456px;
  height: 477px;
  left: 204px;
  top: 730px;
  border-radius: 5px;
}

.text-item{
  position: absolute;
width: 482px;
height: 374.21px;
left: 754px;
top: 730px;
}
/**--------third-------**/
.mid-headr{
  position: absolute;
width: 492px;
height: 108px;
left: 474px;
top: 2014px;

font-family: 'Inter';
font-weight: 700;
font-size: 45px;
line-height: 54px;
text-align: center;
}


.mid-para{
  position: absolute;
  width: 664px;
  height: 56px;
  left: 388px;
  top: 2160px;
  text-align: center;
  
}

.card-headr{
  font-family: 'Inter', sans-serif;
}

.card-para{
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
}

.card-one{
  background-color: #FEF4F5;
  position: absolute;
  width: 400px;
  height: 200px;
  left: 247px;
  top: 2290px;
  display: flex;
  padding: 20px;

}

.card-two{
  background-color: #FEF4F5;
  position: absolute;
  width: 400px;
  height: 200px;
  left: 732px;
  top: 2290px;
  display: flex;
  padding: 20px;

}

.card-three{
  background-color: #FEF4F5;
  position: absolute;
  width: 400px;
  height: 200px;
  left: 247px;
  top: 2570px;
  display: flex;
  padding: 20px;
}

.card-four{
  background-color: #FEF4F5;
  position: absolute;
  width: 400px;
  height: 200px;
  left: 732px;
  top: 2570px;
  display: flex;
  padding: 20px;
}

.frame-img img{
  padding-top: 23px;
  padding-right: 15px;
}

/**-----gallery-----**/
.img-conatiner{
  display: flex;
  justify-content: space-around;
}

.img-item1{
  position: absolute;
  width: 364px;
  height: 391px;
  left: 150px;
  top: 2882px;

  border-radius: 10px;
}

.img-item2{
  position: absolute;
  width: 364px;
  height: 391px;
  left: 538px;
  top: 2882px;

  border-radius: 10px;
}

.img-item3{
  position: absolute;
  width: 364px;
  height: 391px;
  left: 926px;
  top: 2882px;

  border-radius: 10px;
}

.last-headr{
  position: absolute;
width: 877px;
height: 108px;
left: 281px;
top: 3373px;

font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 45px;
line-height: 54px;
text-align: center;

}

.last-para{
  position: absolute;
width: 664px;
height: 56px;
left: 387px;
top: 3525px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 28px;

text-align: center;

color: #707070;
}

/**----card-last----**/
.card-o{
  position: absolute;
  width: 364px;
  height: 470px;
  left: 150px;
  top: 3630px;
  box-shadow: 1px 1px 10px black;
  border-radius: 10px;
}

.card-t{
  position: absolute;
  width: 364px;
  height: 470px;
  left: 538px;
  top: 3630px;
  box-shadow: 1px 1px 10px black;
  border-radius: 10px;
}

.card-th{
  position: absolute;
  width: 364px;
  height: 470px;
  left: 926px;
  top: 3630px;
  box-shadow: 1px 1px 10px black;
  border-radius: 10px;
}

.crd-headr{
  width: 110px;
  height: 24px;
  

  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;

  color: #121212;
  padding: 0 15px 0 15px;
}

.crd-para{
  width: 350px;
  height: 112px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  padding: 0 15px 0 15px;
  padding-bottom: 15px;

  color: #707070;
}

.zakat-link{
  width: 160px;
  height: 24px;
  padding: 0 15px 0 15px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  text-decoration-line: underline;

  color: #EF233C;
}

/**---footer----**/
.ftr-part{
  background-color: black;
  position: absolute;
left: 0%;
right: 0%;
top: 95.97%;
bottom: 0%;
}

.ftr-part h1{
  color: #EF233C;
  text-align: center;
  font-family: 'Inter';
  padding-top: 30px;
}

.ftr-part p{
  color: white;
  text-align: center;
  font-family: 'Poppins';
  font-size: 15px;
  padding-bottom: 20px;
}